<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="Risale-i Nur Online Okuma Platformu">
    <meta name="keywords" content="Risale, Risale Oku, Risale-i Nur, Kuran Oku, Hayrat Vakfı, Osmanlıca">
    <meta name="author" content="Hayrat Vakfı">
    <title>Risale Online </title>

    <link rel="apple-touch-icon" href="~/Assets/app-assets/images/logo/logo.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/Assets/app-assets/images/logo/logo.png">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="~/Assets/app-assets/vendors/css/vendors.min.css">

    <!-- END: Vendor CSS-->
    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="~/Assets/app-assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/app-assets/css/bootstrap-extended.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/app-assets/css/colors.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/app-assets/css/components.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/app-assets/css/themes/dark-layout.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/app-assets/css/themes/semi-dark-layout.css">

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="~/Assets/app-assets/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/app-assets/css/core/colors/palette-gradient.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/app-assets/css/pages/dashboard-analytics.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/app-assets/css/pages/card-analytics.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/app-assets/css/plugins/tour/tour.css">
    <!-- END: Page CSS-->
    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="~/Assets/assets/css/style.css">
    <!-- END: Custom CSS-->
    @RenderSection("AfterPageCss", false)

</head>
<!-- END: Head-->
<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu-modern 2-columns  navbar-floating footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="2-columns">

    <!-- BEGIN: Main Menu-->
    @Html.Partial("~/Views/Shared/_SideBar.cshtml")
    <!-- END: Main Menu-->
    <!-- BEGIN: Content-->
    <div class="app-content content">

        <!-- BEGIN: Header-->
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>

        @Html.Partial("~/Views/Shared/_Header.cshtml")
        <!-- END: Header-->

        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                @RenderBody()


            </div>
        </div>
    </div>
    <!-- END: Content-->

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <!-- BEGIN: Footer-->
    @Html.Partial("~/Views/Shared/_Footer.cshtml")


    <!-- END: Footer-->
    <!-- BEGIN: Vendor JS-->
    <script src="@Url.Content("~/Assets/app-assets/vendors/js/vendors.min.js")"></script>
    <!-- BEGIN Vendor JS-->
    <!-- BEGIN: Page Vendor JS-->
    <!-- END: Page Vendor JS-->
    <!-- BEGIN: Theme JS-->
    <script src="@Url.Content("~/Assets/app-assets/js/core/app-menu.js")"></script>
    <script src="~/Assets/app-assets/js/core/app.js"></script>
    <script src="~/Assets/app-assets/js/scripts/components.js"></script>
    <!-- END: Theme JS-->
    <!-- BEGIN: Page JS-->
    @RenderSection("AfterPageScripts", false)

    <!-- END: Page JS-->
    <script src="~/js/language.js">// init i18n and load language file</script>
</body>
<!-- END: Body-->

</html>